body {
	
	font-family: sans-serif;
	
}


#time {
			
		font-weight: bold;
	
	}
			
#shape {
			
		border: 3px solid;
		border-radius: 50%;
		display: none;
		position: relative;
	
	}